<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
          <i class="fas fa-plus"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Listado clientes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes; let i=index">
                <td>{{i+1}}</td>
                <td>{{cliente.Nombre}} {{cliente.Appellido}}</td>
                <td>{{cliente.Saldo | currency:'MNX':'$'}}</td>
                <td>
                  <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                    <i class="fas fa-angle-double-right"></i>Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="cardbody">
            <h3>Saldo total</h3>
            <h4 class="display-4">
              {{getSaldoTotal() | currency:'MNX':'$'}}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="cardbody">
            <h3>Total Clientes</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i>{{clientes?.length}}
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modl-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Agregar Cliente</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <flash-messages></flash-messages>>

      <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm)">
        <div class="modal-body">

          <div class="form-group">
            <label for="Nombre">Nombre</label>

            <input type="text" name="Nombre" class="form-control" #Nombre=ngModel
            [(ngModel)]=cliente.Nombre
            [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched}"
            required minlength="2">
            <div [hidden]="!Nombre.errors?.required" class="invalid-feedback">
              Nombre Requerido
            </div>
            <div [hidden]="!Nombre.errors?.minlength" class="invalid-feedback">
              Debe contener al menos dos caracteres
            </div>
          </div>


          <div class="form-group">
            <label for="Appellido">Apellido</label>
            <input type="text" name="Apellido" class="form-control">
          </div>

          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" name="Email" class="form-control">
          </div>

          <div class="form-group">
            <label for="Saldo">Saldo</label>
            <input type="number" name="Saldo" class="form-control">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Guardar</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
